.NavbarItems {
  background: #ffffff;
  box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.05);
  height: 80px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 1.2rem;
  margin-bottom: 120px;
}

.nav-menu {
  display: grid;
  grid-template-columns: repeat(3, auto);
  list-style: none;
  text-align: center;
  width: 30%;
  margin-right: 350px;
}

.nav-links {
  color: black;
  text-decoration: none;
  padding: 0.5rem 2rem ;
}

.active {
    background-color: rgb(31, 28, 28);
    color: white;
    border-radius: 50px;
    transition: all 0.2s ease-out;
}

.nav-links:hover {
  background-color: rgb(31, 28, 28);
  color: white;
  border-radius: 50px;
  transition: all 0.2s ease-out;
}

.logo_image {
  width: 130px;
  height: 60px;
}
