button {
    text-decoration: none;
    display: inline-block;
    width: 169px;
    height: 45px;
    line-height: 45px;
    border-radius: 45px;
    margin: 140px 675px 50px;
    font-family: 'Montserrat', sans-serif;
    font-size: 11px;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 3px;
    font-weight: 600;
    color: white;
    background: black;
    box-shadow: 0 8px 15px rgba(0, 0, 0, .1);
    transition: .3s;
  }
  button:hover {
    background: white;
    box-shadow: 0 15px 20px black;
    color: black;
    transform: translateY(-7px);
  }

  h1.text {
    margin-right: 400px;
    margin-left: 150px;
  }

  p.textd {
    margin-right: 400px;
    margin-left: 150px;
    font-size: 12px;
  }

  #more{
    display: none;
  }