a {
    text-decoration: none;
    display: inline-block;
    width: 169px;
    height: 45px;
    line-height: 45px;
    border-radius: 45px;
    margin: 160px 675px;
    font-family: 'Montserrat', sans-serif;
    font-size: 11px;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 3px;
    font-weight: 600;
    color: white;
    background: black;
    box-shadow: 0 8px 15px rgba(0, 0, 0, .1);
    transition: .3s;
  }
a:hover {
    background: white;
    box-shadow: 0 15px 20px black;
    color: black;
    transform: translateY(-7px);
  }